/*Root is similar to * but they are little different*/
:root{
    /*box-sizing  is better placed here*/
    box-sizing: border-box;/*It places the border inside the width and height and prevents the increase size of the width and height*/

}

body{
    font-family: sans-serif;
    font-size: 14px; 
    display: flex;
    justify-content: center;
}



.container{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 650px;
    border: 2px solid lightgray;
    box-shadow: 3px 8px 5px 3px #cccccc;
    display: flex; /* puts the tags in the container side by side*/
    flex-direction: column; /*Flex sorts a row by default, so we change it so that it puts a column below*/
    align-items: center;
    
}

.container .container-header-h1{

    margin-right: 200px;
    font-weight: 900;
    
}


.container-picture{
    width:380px;
    height:300px;
   
   
}



.container .describe{
  
    border: 2px solid lightgray;
    margin: 7px 7px 7px 7px; /*top right bottom left*/
    padding-left: 16px;
    padding-right: 7px;
    box-sizing: border-box;
}


.container .describe .describe-second-paragraph .describe-label-titr{
    font-weight: 900;
    
}

.container .describe .describe-first-paragraph{
    font-style: italic;
}

.container .describe .describe-second-paragraph .describe-paragraph-for-lable{

    font-style: italic;
}